{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens' %}

{% block body %}

    <div class="container">
        <h1 class="display-4 my-5">Voir tous nos biens</h1>
        <hr>

        <div class="row">
            {% for property in properties %}
                <div class="col-md-4">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>

{% endblock %}
